// --light-grey: #e7e7e7;
// --dark-grey: #c7bebe;
// --primary: #3282f7;
// --success: #68d9a4;
// --danger: #ed6454;
// --border-radius: 5px;
// --fs-18: 18px;
// --fs-12: 12px;
// --br-5: 5px;

$primary-color : #3282f7;
$success-color : #3282f7;
$danger-color : #3282f7;
$border-radius : #3282f7;
$font-light : 12 px;
$font-medium : 18px;
$dark-grey: #c7bebe;
$light-grey: #e7e7e7;