/* card recipes section */
.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 95%;
  margin: 20px auto;
}

.cards__no-recipes {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 200px;
  z-index: -1;
}

.cards__no-recipes-text {
  font-weight: bold;
  font-size: $font-medium;
  color: rgb(49, 49, 49);
}

.card {
  height: 364px;
  background: $light-grey;
  border-radius: $border-radius;
}

.card a {
  display: block;
  text-decoration: none;
  color: #000;
}

.card__thumb {
  height: 178px;
  background-color: $dark-grey;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.card__body {
  height: 186px;
  padding: 20px;
  margin: 0;
}

.card__head {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.card__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__timeclock {
  content: url("../images/time.svg");
}

.card__time {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 7px;
  font-weight: 700;
}

.card__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
  font-size: $font-light;
}

.card__ingredients {
  height: 105px;
  overflow: hidden;
}

.card__ingredient--bold {
  font-weight: 700;
}

.card__description {
  height: 109px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// responsive card
@media only screen and (min-width: 674px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 992px) {
  .cards {
    width: 100%;
    gap: 50px;
  }
}
@media only screen and (min-width: 1198px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
